
/* Header azul que abarque pagina */
header{
    background-color: #273777;
    color: white;
    position: relative;
    display: flex;
   align-items: center;
    padding: 20px 20px;
    
}
/* Letra titulo header y portada*/
h2 {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Garamond, serif;
  font-size: 2.5em;
  margin: 0;
  display: block;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}

#uni{
  display: block;
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;

}

/*Letra portada info*/
h5{
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.lig{
  display: block;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 200; 
  margin: 0;
  padding: 0;

}
/*Tipo de material de estudio: guia, antologia etc*/
.mat{
  display: block;
  font-family: serif;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: italic;
}

#inf{
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  border-bottom: currentColor solid 1.5pt;
}
.linfo{
  display: block;
  font-size: 1.4em;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  

}
/* Tamaño logo portada */
.pl{
  height: 173pt;
  line-height: 1.2;
  width: 144pt;
}

/* Estilo para listas portada*/
.ulp {
  
  max-width: 432pt;
  margin: 10px auto;
  padding-left: 20pt; 
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: justify;     

}
/* negrita*/
.b{
  font-weight: bold;
  line-height: 1.2;
}


/* imagen logo para header */
.calibre0{
  filter: brightness(0) invert(1);
  width: 130px;
  height: auto;
  margin-left: 15px;
}

/* final de la pagina: azul*/
footer{
    background-color: #273777;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    margin: 0px;   
}
/* Estilo de texto y formato para texto */

/* Cuerpo con margen */
body{
     text-align: justify;
     margin: 50px;
     margin-top: 10px;
}
/* h1 para indice */
h1{
    text-align: justify;
    font-family: "Garamond", "Times New Roman", serif;
    font-size: 1em;
    text-indent: 0; 
    page-break-after: avoid;
}
h1.tisub{
    text-align: justify;
    font-family: "Garamond", "Times New Roman", serif;
    font-weight: 400;
    font-size: 1.05em;
    text-indent: 0; 
    page-break-after: avoid;
}

/* h3 para letra de introducción y referencias*/  
h3{
  color: #FFF;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  text-transform: uppercase;
  margin: 24pt 0 0;
  padding: 0;
}
/* h4  para nombre de materia, obejetivo, etc */
h4{
  color: #FFF;
  display: block;
  font-weight: 400;
  font-family: "Garamond", "Times New Roman", serif;
  line-height: 1.2;
  text-align: justify;
  margin: 1pt 0;
  padding: 0;
}

/* Tablas para asignaturas, unidades e introduccion*/
.td_uni{
  background-color: #273777;
  border-collapse: collapse;
  width: 100%; 
  max-width: 432pt;
  margin: auto;
  border: 1pt solid #943634;
  line-height: 1.2;

}
/*  borde para las materias*/
.border{
  background-color: #273777;
  border: 1pt solid #943634; 
  vertical-align: top;
  padding: 5px 3.55pt; 
  color: white; 
}
.nobd{
  border: 1pt solid #273777 ;
}
/* Borde para las unidades */
.border.b{
  border: 2.5pt solid #943634; 
  
}
/* alinear los textos al centro */
.align{
    text-align: center;
    margin: 0;
    padding: 0;
}


/* Color blanco a los textos que vayan dento de cuadros oscuros */
.w{
    color: #FFF;
    
}

/* Parrafos justificados */
p {
  text-align: justify;
  text-justify: inter-word; 
  display: block;
  line-height: 1.2;
  font-family: "Garamond", "Times New Roman", serif;
  font-size: 0.99em;
  margin: 0;
  padding: 0;        
}

/*Estilo de letra en listas y span*/
ul{
  text-align: justify;
  text-justify: inter-word; 
  display: block;
  line-height: 1.2;
  font-family: "Garamond", "Times New Roman", serif;
  font-size: 0.95em;
  margin: 0;
  padding: 0; 
}
span{
  text-align: justify;
  text-justify: inter-word; 
  display: block;
  line-height: 1.2;
  font-family: "Garamond", "Times New Roman", serif;
  font-size: 0.95em;
  margin: 0;
  padding: 0;
}
/* Estilo para tablas con informacion educativa */
table{
  border-collapse: collapse;
}
td, tr{
  border: 0.2px solid black;
}

/* Imagenes centradas */
img{
  display: block;    
  margin-left: auto; 
  margin-right: auto;
  max-width: 100%;  
  height: auto;
}

/* titulos y subtitulos */
/* h6 para titulos y sub Subtitulo*/
h6{
  text-align: justify;
  text-justify: inter-word; 
  display: block;
  line-height: 1.2;
  font-family: "Garamond", "Times New Roman", serif;
  font-size: 0.90em;
  margin: 0;
  padding: 0;        
}

h6.sub{
  text-align: justify;
  text-justify: inter-word; 
  display: block;
  line-height: 1.2;
  font-family: "Garamond", "Times New Roman", serif;
  font-size: 0.80em;
  margin: 0;
  padding: 0;
}
